<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Laserdental Presupuestos{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="logo-container">
            <h1>Laserdental Gestión de Presupuestos</h1>
        </div>
        <nav>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('index') }}">Dashboard</a>
                <a href="{{ url_for('list_doctors') }}">Doctores</a> {# New Link Added #}
                <a href="{{ url_for('logout') }}">Logout ({{ current_user.username }})</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Laserdental</p>
    </footer>
</body>
</html>
